body {
	background-image: url("../images/starTrek.jpg");
	color: white;
	font-size: 28px;
}

h1 {
	color: #fff;
	font-size: 36px;
}

#timer-area {
	color: white;
}

#startBtn {
	padding: 15px;
	font-size: 24px;
}

.test {
	color: white;
	font-size: 28px;
	padding: 10px;
}

.test:hover {
	background-color: grey;
	color: white;
}

#question-area {
	color: white;
	font-size: 28px;
}

#answer-area {
	color: white;
}

.content {
	max-width: 700px;
	text-align: center;
	margin-top: 25px;
}